/* Author: Salome Schmied */

/* Schriftarten */
@font-face {
    font-family: 'Zain-Regular';
    src: url('./fonts/Zain-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Zain-ExtraBold';
    src: url('./fonts/Zain-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    src: url('./fonts/Hind-Regular.ttf') format('truetype');
}

/* Allgemeine Einstellungen */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

/* Header */
header {
    background-color: white;
    border-bottom: 2px solid #EDAE49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

#logo img {
    width: 152px;
    height: 34px;
}

/* Navigation */
#navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#navigation ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Zain-ExtraBold', sans-serif;
    font-size: 28px;
}

#navigation ul li a:hover {
    color: #EDAE49;
}

/* Generelle Überschriften */
h1 {
    font-family: 'Zain-ExtraBold', sans-serif;
    font-size: 40px;
    line-height: 0.8;
    color: white;
    margin: 0;
}

h1 .regular {
    font-family: 'Zain-Regular', sans-serif;
}

/* Allgemeine Button-Styles */
.button {
    padding: 10px 20px;
    border-radius: 45px;
    background-color: #EDAE49;
    color: black;
    border: 0;
    font-family: 'Zain-Regular', sans-serif;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #df9216;
}
