/* Author: Salome Schmied */

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Zain';
  src: url('/fonts/Zain-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zain';
  src: url('/fonts/Zain-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: white;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  font-family: 'Zain', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
}

h2 {
  font-weight: normal;
  font-size: 48px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #EDAE49;
}
