/* Author: Salome Schmied */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 0;
}

.tripId {
    color: #00798C;
    font-size: 16px;
}
