.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('/images/planningSectionBG.jpg');
    background-size: cover;
    background-position: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Abstände zwischen Eingabeelementen */
    background-color: white;
    border-radius: 10px; /* Abgerundete Ecken */
    width: 50%; /* Breite */
    padding: 60px; /* Innenabstand */
    z-index: 1; /* Über dem Hintergrund */
}
