/* Author: Salome Schmied */

.container {
    background-color: #00798C;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 40px;
    margin: 20px;
}

.stepsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}
